<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>VirtualShareNew</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.authentication.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.authentication.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserDashboard</servlet-name>
    <servlet-class>com.usersystem.UserDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Administration</servlet-name>
    <servlet-class>com.administration.AdminDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Administration</servlet-name>
    <url-pattern>/administration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.authentication.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddStock</servlet-name>
    <servlet-class>com.administration.AddStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStock</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewShares</servlet-name>
    <servlet-class>com.administration.ViewShares</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewShares</servlet-name>
    <url-pattern>/view-shares</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditShares</servlet-name>
    <servlet-class>com.administration.EditShares</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditShares</servlet-name>
    <url-pattern>/edit-share</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Purchase</servlet-name>
    <servlet-class>com.usersystem.Purchase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Purchase</servlet-name>
    <url-pattern>/purchase</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Portfolio</servlet-name>
    <servlet-class>com.usersystem.PortfolioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Portfolio</servlet-name>
    <url-pattern>/portfolio</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sell</servlet-name>
    <servlet-class>com.usersystem.Sell</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sell</servlet-name>
    <url-pattern>/sell</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Report</servlet-name>
    <servlet-class>com.reporting.TransactionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/report</url-pattern>
  </servlet-mapping>
</web-app>